body {
  display: flex;
  flex-flow: column;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.header {
  align-items: center;
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 24px 12.5%;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

ul {
  display: flex;
  gap: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

.hero {
  align-items: center;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  padding: 120px 12.5%;
}

.hero-container-2 {
  align-items: flex-start;
  display: flex;
  flex-flow: column;
  height: 360px;
  justify-content: space-evenly;
  width: 720px;
}

.hero-main {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  padding: 0 12.5% 0 0;
}

.hero-sub {
  color: #e5e7eb;
  font-size: 18px;
  padding: 0 12.5% 0 0;
}

button {
  background-color: #3882f6;
  border: 2px solid #3882f6;
  border-radius: 8px;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 36px;
}

.hero-placeholder {
  align-items: center;
  background-color: #6d747d;
  color: #ffffff;
  display: flex;
  height: 360px;
  justify-content: center;
  width: 720px;
}

.info-main {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}

.quote {
  background-color: #e5e7eb;
}

.quote-main {
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
}

.action-container-2 {
  background-color: #3882f6;
}

.footer {
  background-color: #1f2937;
}