body {
  display: flex;
  flex-flow: column;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.header {
  align-items: center;
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 24px 12.5%;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

ul {
  display: flex;
  gap: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

.hero {
  align-items: center;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  padding: 120px 12.5%;
}

.hero-container-2 {
  align-items: flex-start;
  display: flex;
  flex-flow: column;
  height: 360px;
  justify-content: space-evenly;
  width: 720px;
}

.hero-main {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  padding: 0 12.5% 0 0;
}

.hero-sub {
  color: #e5e7eb;
  font-size: 18px;
  padding: 0 12.5% 0 0;
}

button {
  background-color: #3882f6;
  border: 2px solid #3882f6;
  border-radius: 8px;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 36px;
}

.hero-placeholder {
  align-items: center;
  background-color: #6d747d;
  color: #ffffff;
  display: flex;
  height: 360px;
  justify-content: center;
  width: 720px;
}

.info {
  align-items: center;
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: 0 12.5% 120px 12.5%;
}

.info-main {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  padding: 48px;
}

.info-container-2 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 6.25%;
}

.info-item-2 {
  align-items: center;
  display: flex;
  flex-flow: column;
  gap: 12px;
}

.info-placeholder {
  border: 4px solid #3882f6;
  border-radius: 16px;
  height: 240px;
  width: 240px;
}

.info-sub {
  color: #4b5563;
  font-size: 18px;
}

.quote {
  align-items: center;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  padding: 120px 12.5%;
}

.quote-container-2 {
  color: #1f2937;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 6.25%;
}

.quote-main {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  padding: 0 3.125% 0 6.25%;
}

.quote-author {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 700;
  padding: 0 3.125%;
}

.action-container-2 {
  background-color: #3882f6;
}

.footer {
  background-color: #1f2937;
}